VITE_SENTRY_DSN=<https://docs.sentry.io/product/sentry-basics/concepts/dsn-explainer/>
VITE_UNLIMIT_MERCHANT_ID=<00000000-0000-0000-0000-000000000000>
VITE_UNLIMIT_BUY_TOKENS_IFRAME_URL=<https://onramp.com>
VITE_UNLIMIT_SELL_TOKENS_IFRAME_URL=<https://offramp.com>
